@page
@model TicketHive.Ui.Pages.ConfirmationPageModel



<h1>Thank you for purchasing this event!</h1>

@*<p>Event: @Model.EventName</p>
<p>Date: @Model.Date</p>
<p>Price: @Model.Price</p>*@




<form>
    <button type="submit" formaction="/BookingPage">Back to Booking</button>
</form>

<style>
    button {
        background-color: #007bff;
        border: none;
        color: white;
        padding: 12px 24px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 4px;
        cursor: pointer;
    }

        button:hover {
            background-color: #0069d9;
        }
</style>