@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<hr />
<a asp-page="/EventPage" asp-route-index="3">Event Page</a>
<hr />
<a asp-page="/BookingPage" asp-route-index="3">Booking Page</a>
<hr />
<a asp-page="/ConfirmationPage" asp-route-index="3">Confirmation Page</a>
