@page
@model TicketHive.Ui.Pages.LoginpageModel
@{
}

<head>
    <title>Log in Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #fbe89c;
        }

        .login-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            height: 100%;
        }

        .login-form {
            display: flex;
            flex-direction: column;
            width: 50%;
            margin-right: 20px;
        }

            .login-form input[type=text],
            .login-form input[type=password] {
                padding: 10px;
                margin-bottom: 20px;
                border: none;
                border-radius: 5px;
            }

            .login-form input[type=submit] {
                display: inline-block;
                outline: 0;
                cursor: pointer;
                border-radius: 6px;
                border: 2px solid #305076;
                color: #305076;
                background: 0 0;
                padding: 8px;
                box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 4px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1.5px 0px;
                font-weight: 600;
                font-size: 16px;
                height: 50px;
                width: 200px;
                margin-top: 10px;
            }

                .login-form input[type=submit]:hover {
                    background-color: #305076;
                    color: #fbe89c;
                }
    </style>
</head>
<body>
    <div class="login-container">
        <form class="login-form" method="post">
            <h2>Log in</h2>


            <label for="input-username">Username:</label>
            <input id="input-username" type="text" asp-for="Username" placeholder="Username..." />
            <label for="input-password">Password:</label>

            <input id="input-password" type="password" asp-for="Password" placeholder="Password..." />
            <a href="~/RegisterPage">Don't have an accout? Register here</a>
            <input type="submit" value="Log in" />
            <div>
                <span class="text-danger" asp-validation-for="Username"></span>
                <span class="text-danger" asp-validation-for="Password"></span>
            </div>
        </form>

        <div class="login-image">
            <img style="height: 500px" src="~/logos/black.png" />
        </div>
    </div>
</body>