@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
            <a style="color: #fbe89c;" class="nav-link" asp-area="" asp-page="/Member/Basket"> <img style="height:20px; width:20px;" src="~/EventImages/cart-shopping-solid.png" /></a>
    </li>
    <li class="nav-item">
            <a class="nav-link " asp-area="" asp-page="/Member/UserPage" title="Manage" style="color: #fbe89c;">Settings</a>
    </li>
        @if (User.IsInRole("Admin"))
        {
    <li class="nav-item">
        <a class="nav-link " asp-area="" asp-page="/Admin/AdminPage" title="Manage" style="color: #fbe89c;">Admin</a>
    </li>
        }
    <li class="nav-item">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post" >
                <button style="color: #fbe89c;" type="submit" class="nav-link btn btn-link ">Logout</button>
        </form>
    </li>
    

}
else
{
    <li class="nav-item">
            <a class="nav-link " asp-area="" asp-page="/Registerpage" style="color: #fbe89c;">Register</a>
    </li>
    <li class="nav-item">
            <a class="nav-link " asp-area="" asp-page="/Loginpage" style="color: #fbe89c;">Login</a>
    </li>
}
</ul>
